@import "colors";

footer {
    width: 100%;
    min-height: 20rem;
    padding: 2.5rem 0;
    background-color: $bgBlue;
    
    > h2 {
        font-size: 3rem;
        margin: 2rem 0 4rem 0;
        text-align: center;
    }

    > .content {
        min-height: 100%;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        padding: 0 5rem;
        gap: 2rem;

        > div {
            width: 22.8rem;
            margin-bottom: 2rem;

            > .logo {
                width: 100px;
                height: 100px;
                background: linear-gradient(red, black);
                border-radius: 50%;
                border-top: 2px solid #d400d4;
                border-right: 2px solid #00ccff;
                border-bottom: 2px solid #fffb2d;
                border-left: 2px solid #3cffae;
                overflow: hidden;
                display: flex;
                justify-content: center;
                align-items: center;

                > img {
                    width: 80%;
                }
            }

            > h2 {
                font-size: 2.5rem;
                color: $red;
                letter-spacing: 2px;
                padding-left: 1rem;
            }
        }

        > div {
            h4 {
                font-size: 2.5rem;
                margin: .5rem 0; 
                color: $white;
                text-align: right;
            }

            > div { 
                text-align: right;
                > i {
                    font-size: 2.2rem;
                    padding: .7rem;
                    
                    > a {
                        color: $white;
                        transition: all .2s;
                        &:hover {
                            color: $red;
                        }
                    }
                }
            }
        }
    }
    > p {
        font-size: 1.7rem;
        letter-spacing: 2px;
        word-spacing: .5rem;
        color: $white;
        text-align: center;
        padding: 1rem 0;
    }
}