@import "colors";

@mixin commonCode($fontSize, $color) {
    font-size: $fontSize;
    color: $color;
    margin-left: 2rem;
}

@mixin commonCode2($height ,$justifyContent, $alignItems) {
    width: 100%;
    min-height: $height;
    margin: 0 auto;
    display: flex;
    justify-content: $justifyContent;
    align-items: $alignItems;
    background-color: $bg;
}

@mixin logo($width, $height) {
    > .image {
        position: relative;
        width: $width;
        height: $height;
        background: rgba(0, 0, 0, 0.5);
        border-radius: 50%;
        overflow: hidden;

        &::before {
            content: '';
            position: absolute;
            inset: -1rem 10rem;
            background: linear-gradient(315deg, #00ccff, #d400d4);
            transition: 0.5s;
            animation: animate 4s linear infinite;
        }

        &:hover::before {
            inset: -2rem 0px;
        }

        @keyframes animate {
            0% {
                transform: rotate(0deg);
            } 
            0% {
                transform: rotate(360deg);
            }
        }

        &::after {
            content: '';
            position: absolute;
            inset: 6px;
            background-color: #162052;
            border-radius: 50%;
            z-index: 1;
        }

        > .logo {
            position: absolute;
            inset: 2rem;
            border: 6px solid #070a1c;
            z-index: 3;
            border-radius: 50%;
            overflow: hidden;

            > img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: linear-gradient(red, black);
                object-fit: cover;
            }
        }
    }
}

.home {
    @include commonCode2(90vh, space-evenly, center);
    flex-wrap: wrap-reverse;

    > .home-1 {
        margin-right: .5rem;

        > .my-name {
            @include commonCode(5rem, $white);
            line-height: 5rem;
            letter-spacing: .2rem;
            font-weight: 500;

            > span {
                color: red;
            }
        }
    
        > h5 {
            @include commonCode(1.7rem, $white);
            margin-top: 3rem;
            margin-bottom: 3rem;

            > span {
                color: red;
            }
        }

        > p {
            @include commonCode(1.3rem, $white);
        }
    
        > .links {
            display: flex;
    
            div {
                @include commonCode(3rem, $white);
                margin-top: 2rem;
                margin-left: 1rem;
                display: flex;
                gap: 1rem;
    
                > li {
                    list-style-type: none;
                    cursor: pointer;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    
                    > a {
                        position: relative;
                        color: $white;
                        padding: .5rem;
                        line-height: 1.2px;
                        border-radius: 50%;
                        border: 3px solid transparent;
                        transition: all .4s;

                        &:hover {
                            border-top: 3px solid #d400d4;
                            border-bottom: 3px solid #00ccff;
                        }
                    }
                }
            }

        }
    }

    > .home-2 > .img-container{
        @include logo(34rem, 34rem);
    }
}

@mixin commonCode3($height, $bgColor) {
    min-height: $height;
    width: 80%;
    background-color: $bgColor;
    margin: 0 2rem;
}

@mixin con() {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@mixin mainHead() {
    color: white;
    font-size: 4rem;
    font-weight: 500;
    text-align: center;
    word-spacing: 5px;
    letter-spacing: 1px;
    padding-bottom: 1.5rem;
    margin-bottom: 2.5rem;
    border-bottom: 2px solid $white;
    position: relative;

    &::after {
        content: "";
        height: 1rem;
        width: 5rem;
        border-radius: 1rem;
        background-color: $red;
        position: absolute;
        bottom: -6px;
        left: 35.5%;
    }
}

.about {
    @include commonCode2(100vh, center, center);
    padding-top: 2.5rem;

    > .about-con {
        @include con();
        
        > h2 {
            @include mainHead();
        }
        
        > .content {
            @include commonCode3(70vh, #090c31);
            padding: 5rem;
            border-radius: 0 10rem 0 10rem;
            display: flex;

            .img-container {
                width: 40%;
                display: flex;
                justify-content: center;
                align-items: center;

                @include logo(30rem, 30rem);
            }
            
            .who-iam {
                width: 60%;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                gap: 5rem;

                > .developer {
                    display: flex;
                    align-items: center;
                    gap: 2rem;
        
                    > .icon {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-size: 2.5rem;
                        padding: 1rem;
                        border-radius: 50%;
                    }
                    > .react {
                        color: #61dbfb;
                        border: 2px solid #61dbfb;
                    }
                    > .wordpress {
                        color: #00749C;
                        border: 2px solid #00749C;
                    }
                    > .design {
                        color: #f0e000;
                        border: 2px solid #f0e000;
                    }

                    > .content {
                        > h3 {
                            font-size: 2rem;
                            color: white;
                        }
                        > p {
                            font-size: 1.5rem;
                            color: white;
                        }
                    }
                }
            }
        }
    }
}

@mixin icons($bgColor, $animation) {
    animation: $animation;
    background-color: $bgColor;
    padding: .7rem;
    margin: 1rem 0;
    font-size: 2.5rem;
    cursor: pointer;
    transition: all .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.skills {
    @include commonCode2( 100vh, center, center);
    padding: 7.5rem 0 0 0;

    > .skills-con {
        @include con();

        > h2 {
            @include mainHead();
        }

        > .content {
            @include commonCode3( 70vh, #090c31);
            padding: 2rem 0;
            border-radius: 0 15rem 0 15rem;
            
            > .icons {
                position: relative;
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                
                > .react{@include icons(#61dbfb,icon1 2s linear infinite alternate)}                
                > .js { @include icons(#F0DB4F, icon2 2s linear infinite alternate) }
                > .wordpress { @include icons(#00749C, icon1 2s linear infinite alternate) }
                > .mysql{@include icons(#00758F,icon2 2s linear infinite alternate)}                
                > .html { @include icons (#f06529, icon1 2s linear infinite alternate) }
                > .css { @include icons (#264de4, icon2 2s linear infinite alternate) }
                > .bootstrap { @include icons(#563d7c, icon1 2s linear infinite alternate) }
                > .sass { @include icons(#cc6699, icon2 2s linear infinite alternate) }
            }
        }
    }
}

@keyframes icon1 { from{transform: translateX(-10rem);} to { transform: translateX(10rem); } }
@keyframes icon2 { from{transform: translateX(10rem);} to { transform: translateX(-10rem); } }

.projects {
    @include commonCode2( 100vh, center, center);
    padding: 7.5rem 0;

    > .projects-con {
        @include con();

        > h2 {
            @include mainHead();
        }

        > .content {
            @include commonCode3( 70vh, #090c31);
            padding: 2rem;
            border-radius: 0 10rem 0 10rem;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            gap: 3rem;

            > .project {
                width: 28rem;
                background-color: #070a1c;
                border-radius: 2rem;
                padding: 1rem;
                display: flex;
                flex-direction: column;
                gap: 1.5rem;
                transition: all .2s;

                &:hover {
                    transform: translate(0, -2%);
                }

                > .img {
                    width: 100%;
                    height: 15rem;
                    border-radius: 2rem;
                    overflow: hidden;

                    > img {
                        width: 100%;
                        height: 100%;
                    }
                }

                > .desc {
                    > h2 {
                        font-size: 1.7rem;
                        color: #fff;
                        padding-bottom: .5rem;
                    }

                    > p {
                        font-size: 1.3rem;
                        color: #fff;
                        word-spacing: 1px;
                        letter-spacing: .5px;
                    }
                }

                > .lang {
                    display: flex;
                    gap: 1rem;

                    > span {
                        border-radius: 5px;
                        padding: .5rem 2rem; 
                        cursor: pointer;
                        transition: all .3s;

                        &:hover {
                            color: #000;
                            background: linear-gradient(to right, #61dbfb, #cc6699);
                        }
                    }
                    > .react {
                        color: #61dbfb;
                        border: 1px solid #61dbfb;                      
                    }
                    > .sass {
                        color: #cc6699;
                        border: 1px solid #cc6699;                       
                    }
                }

                > .buttons {
                    display: flex;
                    gap: 1rem;

                    > button {
                        width: 8rem;
                        color: #fff;
                        border: 1px solid #fff;
                        border-radius: 5px;
                        background-color: transparent;

                        > span {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            flex-direction: column;
                            cursor: pointer;
                            width: 100%;
                            height: 2.5rem;
                            position: relative;
                            transition: 0.5s;

                            &::after {
                                // content: '»';
                                content: '>>';
                                color: red;
                                position: absolute;
                                opacity: 0;
                                top: 20%;
                                right: -3px;
                                transition: all .5s;
                            }

                            &:hover {
                                color: red;
                                top: 0;
                                right: 8px;
                            }
                        }
                           
                        &:hover span::after {
                            opacity: 1;
                            right: 0;
                        }
                    }
                }
            }
        }
    }
}